<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".AIChatApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIChat"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AIChat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AIChat" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AIChat" />
        <activity
            android:name=".ModelConfigActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/Theme.AIChat" />
        <activity
            android:name=".ProviderDetailActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/Theme.AIChat" />
        <activity
            android:name=".ChatSessionActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AIChat" />
        <activity
            android:name=".AllConversationsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AIChat" />
        <activity
            android:name=".SessionChatSettingsActivity"
            android:exported="false"
            android:parentActivityName=".ChatSessionActivity"
            android:theme="@style/Theme.AIChat" />
        <activity
            android:name=".SessionOutlineActivity"
            android:exported="false"
            android:parentActivityName=".ChatSessionActivity"
            android:theme="@style/Theme.AIChat" />
        <activity
            android:name=".MyAssistantsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AIChat" />
        <activity
            android:name=".EditMyAssistantActivity"
            android:exported="false"
            android:parentActivityName=".MyAssistantsActivity"
            android:theme="@style/Theme.AIChat" />
    </application>
</manifest>
